html {
  font-size: 18px;
}
body {
  font-family: "Slabo 27px", serif;
}
header {
  font-family: "Dancing Script", cursive;
  background-color: antiquewhite;
  background-image: url(images/hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.wrapper {
  padding: 1rem 0.5rem;
}
.wrapper a.brand-logo {
  font-size: 4rem;
  font-weight: bolder;
}
.wrapper a {
  color: whitesmoke;
  transition: all 0.3s ease;
}
.wrapper a:hover {
  color: #00bcd4;
}
.sidenav li > a {
  font-size: 2rem;
  margin-top: 2rem;
}
.section {
  padding: 4vw 0;
}
.row {
  padding: 1rem 0;
}
h3 {
  margin: 0;
}

.parallax-container {
  height: 350px;
}
.tabs .indicator {
  background-color: #1a237e;
}
.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background: transparent;
}
.social-menu li {
  padding-bottom: 0.5rem;
}

@media (min-width: 500px) {
  header {
    min-height: 100vh;
  }
}
@media (min-width: 992px) {
  .wrapper {
    padding: 1rem 2rem;
  }
  .wrapper a.brand-logo {
    font-size: 3.5rem;
  }
  .desk-menu a {
    font-size: 1.5rem;
  }
  .desk-menu a.tooltipped {
    margin: 0 0.5rem;
  }
  .desk-menu a.tooltipped:hover {
    transform: scale(1.5);
  }
  .social-menu a {
    transition: all 0.3s ease;
  }
  .social-menu a:hover {
    margin-right: 0.5rem;
  }
}
